.archive-container{
 display:flex;
 justify-content: center;
 margin-top: 65px;
 margin-left: 3%;
 margin-right: 3%;
 width: 50%
}
 //width : 50%; 
// .timeline{
//   content: "";
//   margin-top: 20px;
//   margin-bottom: 5%;
//   width:1%;
//   border-left: 10px dashed #ddd;
//   height: 97%;
//   //background-color: white;
// }
// .archive-posts-container{
//   margin-top: 10px;
//   margin-bottom: 5%;
// }
// .archive-year,.archive-month,.archive-day{
//  margin-bottom: 10px;
//  left : 5%;
// }
.archive-year-container{
    text-align: center;
   //font-size: 45px;
}
.archive-year-month-day-container{
 display: flex;
 flex-direction: column; 
 text-align: center;
 width: 100%; 
 padding:0;
}
.ahead-archive-year-container>ul,.ahead-archive-day-container>ul,.archive-container>ul{
  list-style: none; 
  padding: 10px;
  border: 1px solid #ddd;
}
.ahead-archive-month-container>ul,{
  list-style: none; 
  padding: 2px;
  border: 1px solid #ddd;
}
.ahead-archive-year-container>ul{
 width :97%;  
}
.ahead-archive-year-container{
 display: block;  
 justify-content: center; /* 水平居中 */
 align-items: center; /* 垂直居中 */
 width :100%;
}

.archive-year-container{
 display: flex;
 flex: 1;
 flex-direction: column;  
 text-align: center; 
 width :90%;
}
.archive-year-container>div{
 text-align: center;  
}
.archive-month-container{
 display: flex;
 flex-direction: row;
 width : 100%;
 flex-wrap: wrap;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.archive-month-container>li{
  width: 20%; /* 或者指定一个固定宽度 */
  height: 20%; 
  text-align: center;
}
.archive-day-container{
 display: flex;
 flex: 1;
 flex-direction: column;
 flex-direction: ;
}
.archive-day-container>li{
 padding: 2px;
 border: 1px groove #ddd;
}
//     display:flex;    
//     margin: 5px;
//     border: 1px solid #ddd;
//     border-radius: 15px;

// }
// .archive-day-container-day{
//     display:flex;
// }

// .archive-month{
//     font-size: 35px;}
// .archive-day{
//     font-size: 25px;
// }
// .archive-day-container{
//  border: 1px dashed #ddd;
//   border-radius: 15px;
//   padding: 15px;
// }
// .archive-title{
//     margin-top: 20px;
//    text-align: center;
//    overflow-wrap: break-word;
//    font-size: 25px;
// }
