pre code.hljs {
  display: inline-block;
  max-width: 100%;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
.hljs {

}
/* Comment */
 .comment,
 .quote {
  color: #d4d0ab

}
/* Red */
 .variable,
 .template-variable,
 .tag,
 .name,
 .selector-id,
 .selector-class,
 .regexp,
 .deletion {
  color: #ffa07a
}
/* Orange */
 .number,
 .built_in,
 .literal,
 .type,
 .params,
 .meta,
 .link {
  color: #f5ab35
}
/* Yellow */
 .attribute {
  color: #ffd700
}
/* Green */
 .string,
 .symbol,
 .bullet,
 .addition {
  color: #abe338
}
/* Blue */
 .title,
 .section {
  color: #00e0e0
}
/* Purple */
 .keyword,
 .selector-tag {
  color: #dcc6e0
}
 .emphasis {
  font-style: italic
}
 .strong {
  font-weight: bold
}
@media screen and (-ms-high-contrast: active) {
   .addition,
   .attribute,
   .built_in,
   .bullet,
   .comment,
   .link,
   .literal,
   .meta,
   .number,
   .params,
   .string,
   .symbol,
   .type,
   .quote {
    color: highlight
  }
   .keyword,
   .selector-tag {
    font-weight: bold
  }
}