.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    transition: opacity 2s ease-in-out;
    opacity: 0;  /* 初始透明度改为0 */
}
.fade-in {
    opacity: 0.8;
}
.fade-out {
    opacity: 0;
}