.site-date{
    position: absolute;
    top: 10%;
    width : 100%;
    min-height: 10%;
    #date {
    text-align: center;
    margin:auto;
    font-size: 3.2em;
    color: #777777;
    font-family: 'Arial', sans-serif;
    z-index : 1000;
    }
}