@import url('https://static.zeoseven.com/zsft/84/main/result.css');
// // fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #444;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;

html {
    font-family: "Douyin Sans";
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
    text-decoration: none;
    font-family: "Douyin Sans";
    font-weight: normal;
}
.excerpt{
margin-top:5px;  
}
.fa{
margin: 2px;  
}
html{
  //display: flex;
  //overflow: scroll;
}

body {
  color: rgb(34, 30, 30);
  background-color: rgb(65, 65, 65);
  //width :100%;
  //height: 100%;
}
.hover-underline {
  position: relative;
  cursor: pointer;
  text-decoration: none; /* 去除默认的下划线 */
  display: inline-block;
  padding-bottom: 2px; /* 为下划线留出空间 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.hover-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 1px; /* 下划线高度 */
  background: #D3D3D3; /* 灰白色 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.hover-underline:hover::after {
  left: 0;
  right: 0;
}

.page-all-minbox {
  //position: absolute; /* 使用absolute以便从视口居中 */
  //max-width: 1200px;
  //max-height: 2048px;
  //width: 1096px;
  //height: 800px;
  //transform: translate(-50%, -50%); /* 使用transform来调整位置，实现居中 */
  //display: grid;
  margin-top: 50px;
  //place-items: 0 center; /* 保持内容居中 */
}

.page-minbox{
 //display: grid;
 //border: 2px solid white;
 width:  850px;
 height:  300px; 
 max-height: 600px; 
 background-color: #33333367;
 margin: 15px;
 //place-items: 0px center; /* 保持内容居中 */
}
.page-minbox:hover{
 background-color: #444; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.posts{
 display: grid;
 place-items: center;
}
.post{
  display: grid;
  height: 100%;
  background-color: #33333367;
  }
.post-title{
  text-align: center;  
}
.post-title-link{
  color: white;
}
.post-meta{
  display: flex;
  justify-content: center;
}
.post-time{
 display: flex;  
}

.night{
color: white;    
}

.big_font_size{
 font-size: 20px;  
}
.readmore-box{
  padding: 30px;
  display: absolute;
 text-align: center;  
}
.readmore{
  margin-bottom: 10px;
  background-color: #33333367;  
  border: 2px solid rgb(65, 65, 65); 
}
img{
  margin: 0 auto;
  display: block;
}
@import "_partial/header";
@import "post";
@import "a11y-dark"