@import url('https://static.zeoseven.com/zsft/84/main/result.css');
img {
  width: auto; /* 或者具体的像素值，比如300px */
  height: auto; /* 保持图片的宽高比 */
  object-fit: cover; /* 保持图片的宽高比，可能会裁剪图片 */
  object-fit: contain;
 //height: 500px; /* 保持图片完整显示，可能会有空白 */
  max-width: 100%;
}
.box {
//  width: 200px; /* 盒子宽度 */
//  height: 200px; /* 盒子高度 */
  background-color: #414141fd; /* 盒子背景颜色 */
  //border: 1px solid #ccc; /* 盒子边框 */
  border-radius: 15px; /* 圆角效果 */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 平滑过渡效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 初始阴影 */
}

.box:hover {
  transform: translateY(-2px); /* 鼠标悬停时向上移动 */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* 鼠标悬停时增加阴影 */
}  
p{
  padding auto;
}
h1, h2, h3, h4, h5, h6{
  margin: auto;
}
a {
  /* 去除下划线 */
  text-decoration: none;

  /* 去除点击时的焦点轮廓 */
  outline: none;

  /* 去除鼠标悬停时的颜色变化 */
  color: inherit;

  /* 去除点击时的背景颜色变化 */
  background-color: transparent;

  /* 去除点击时的边框 */
  border: none;

  /* 去除默认的字体颜色变化 */
  color: initial;

  /* 去除默认的字体样式变化 */
  font-style: normal;

  /* 去除默认的字体粗细变化 */
  font-weight: normal;
}


// // fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #444;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;

html {
    font-family: "Douyin Sans";
    font-weight: normal;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
    text-decoration: none;
    font-family: "Douyin Sans";
    font-weight: normal;
}
.excerpt{
margin-top:5px;  
}
.fa{
margin: 2px;  
}
html{
  //display: flex;
  //overflow: scroll;
}
.container{
  display: flex;
  justify-content: space-around; /* 子元素水平居中 */
  min-height: 96vh; /* 容器高度 */
  }
body {
  color: rgb(34, 30, 30);
  background-color: rgb(65, 65, 65);
  height: 100%;
}
.hover-underline {
  position: relative;
  cursor: pointer;
  text-decoration: none; /* 去除默认的下划线 */
  display: inline-block;
  padding-bottom: 2px; /* 为下划线留出空间 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.hover-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 1px; /* 下划线高度 */
  background: #D3D3D3; /* 灰白色 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.hover-underline:hover::after {
  left: 0;
  right: 0;
}

.page-all-minbox {
  justify-content: center; /* 子元素水平居中 */
  margin:auto;
  margin-top: 60px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  //display: flex;  
  //display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  //height: 100vh; /* 容器高度 */
}

.page-minbox{ 
//  max-height: 900px; 
//  background-color: #33333367;
  margin-bottom: 45px;
//  max-width:800px;
//  min-height:400px;
}

.page-minbox:hover{
 background-color: #444; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.posts{
 //display: grid;
 place-items: center;
}
.post{
  display: grid;
  height: 100%;
  background-color: #33333367;
  max-height: 900px; 
 max-width:800px;
 min-height:400px;
  }
.post-title{
  text-align: center;  
}
.post-title-link{
  color: white;
  margin:auto;
  padding-top: 35px;
}
.post-meta{
  display: flex;
  justify-content: center;
}
.post-time{
 display: flex;  
}

.night{
color: #CECECE;    
}
.night a{
  color: #CECECE;  
}
.night.excerpt p {
  text-align: center; /* 文本居中 */
  white-space: normal; /* 确保文本自动换行 */
  //word-wrap: break-word; /* 长单词或URL在必要时可以换行 */
  overflow-wrap: break-word; /* 同上，是 word-wrap 的新名称 */
}
.big_font_size{
 font-size: 20px;  
}
.readmore-box {
  text-align: center; /* 使内容在水平方向上居中 */
  display: flex; /* 使用flex布局 */
  justify-content: center; /* 在主轴上居中 */
  align-items: center; /* 在交叉轴上居中 */
}

.readmore {
  display: inline-block; /* 使链接表现得像块级元素，但不会换行 */
  white-space: nowrap; /* 防止文本换行 */
}
img{
  margin: auto;
  display: block;
}
.copy-btn{

}
.excerpt a{
 text-decoration: underline;
}
.excerpt a:not(:has(img))::after {
  content: '\f08e'; /* Font Awesome 的外链图标 Unicode */
  font-family: 'Font Awesome 5 Free'; /* 指定 Font Awesome 字体 */
  font-weight: 900; /* 根据图标库的要求，通常使用 900 粗细 */
  margin-left: 5px; /* 图标和链接之间的间距 */
  font-size: 12px; /* 调整图标大小 */
}
ul{
 padding: 0;
 margin: 0;
}
.caption{
 background-color:   
}
.center{
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.margin{
 margin:15px;  
}
@import "_partial/header";
@import "post";
@import "a11y-dark"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/sidebar"
@import "_partial/comments"
@import "_partial/search"
@import "archive"
@import "tags"
@import "page"
@import "category"
@import "links"