element.style {
    font-size: 12px;
    color: none;
}
.tag-clouds {
 width: 100%;    
 display: flex;
 flex-wrap: wrap;
}
.tag-clouds a{
 margin: 10px;
 padding: 5px 10px;
}
.night a {
    color: #cecece;
}
.tag-clouds a {
  position: relative;
  cursor: pointer;
  text-decoration: none; /* 去除默认的下划线 */
  display: grid;
  place-items: center;
  padding-bottom: 2px; /* 为下划线留出空间 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.tag-clouds a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 1px; /* 下划线高度 */
  background: #D3D3D3; /* 灰白色 */
  transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.tag-clouds a:hover::after {
  left: 0;
  right: 0;
}
.tag-cloud{
 width: 50%;    
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 margin-top:60px;
 background-color: #33333367;
} 
.tagpost{
 text-align: center;
 width: auto;
 margin: 10px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid #D3D3D3;
}
.sidebar-tags{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 flex :1;
 justify-content: space-around;    
}
.rtag-link{
 border: 1px outset #D3D3D3; 
 margin: 3px
 padding : 2px;   
}
ul{
    padding: 0;
}
[class^="tag-cloud-"] {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px outset #D3D3D3;
    margin: 5px;
    padding: auto;
}
