<footer class="night box footer-center">
    <span>
        <a href="https://hexo.io" alt="Hexo"><p class="hover-underline night" style="display: inline;">Hexo</p></a>
        <p style="display: inline; color: red;">❤</p>
        <a href="https://github.com/xingwangzhe/hexo-theme-wang" alt="Wang"><p class="hover-underline night" style="display: inline;">Wang</p></a>
    </span>
<div>&copy 2024-<%= new Date().getFullYear() %> By <%- config.author -%></div>
</footer>
</script>