
<div class="sodesu-container night">
<div id="sodesu"></div>
<script src="https://unpkg.com/sodesu-comment/dist/sodesu.aio.umd.js"></script>
<script>
  Sodesu.init({
    el: '#sodesu',
    serverURL: 'waline.xingwangzhe.fun',
    dark: 'html.dark',
    pageview: true,
    commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
    // lang: 'zh-CN', // 语言设置为中文
    // placeholder: '说点什么吧...', // 评论框占位符
    // avatar: 'mm', // 头像风格
    // meta: ['nick', 'mail'], // 评论者信息
    // pageSize: 10, // 每页显示的评论数
    // visitor: false, // 是否显示访客数
    // commentCount: true, // 是否显示评论数
    // requiredFields: ['nick', 'mail'], // 必填字段   
  });
</script>
</div>