.footer-center{
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  border: 1px solid #ccc;
}
.footer{
 margin-top: auto; 
 bottom: 0;
}
.footer-links-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.footer-links-item{
 width: 7%;  
}