.sidebar-left,.sidebar-right{
    display: block;
    position: sticky;
    top: 60px;
    bottom: 0;
    margin-top: 60px;
    padding: 20px;
    width :15%;
    max-width: 20%;
    height:60%;
}
.title-center,.sidebar-author,.sidebar-description{
    text-align: center;
    word-break: break-all;
}
.avatar{
 max-width:50%;
 border-radius: 100%;  
 object-fit: cover  
}
/* 定义旋转一圈的动画 */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* 定义反向旋转一圈的动画 */
  @keyframes reverse-spin {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.rounded-img:hover {
    animation: spin 0.5s linear forwards;
  }

  /* 鼠标离开时触发反向旋转动画 */
  .rounded-img {
    animation: reverse-spin 0.5s linear reverse forwards;
  }
.social-links {
  border: 1px solid #ddd; /* 边框 */
  border-radius: 5px; /* 圆角 */
  list-style-type: none;           /* 去除列表项前面的点 */
  padding: 0; /*          移除列表项左侧的默认内边距 */
  display: flex; /* 使用 Flexbox 布局 */
  flex-wrap: wrap; /* 允许子元素换行 */
  justify-content: space-between; /* 水平方向上两端对齐 */
}

.social-links-item {
   margin-bottom: 10px;          /* 子元素之间的垂直间距 */
  width: calc(50% - 5px); /* 每个子元素占一半的宽度，减去间距 */
}        

.social-links-item:nth-child(odd) {
  text-align: left; /* 奇数位置的子元素左对齐 */
}

.social-links-item:nth-child(even) {
  text-align: left; /* 偶数位置的子元素右对齐 */
}
