<% if (theme.comments.enable) { %>
<div class="comments-container night">
    <div id="waline"></div>
    <script type="module">
      import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
      init({
        el: '#waline',
        serverURL: '<%= theme.comments.serverURL %>',
        dark: 'html.dark',
        pageview: true,
        commentClassName: 'prose prose-neutral dark:prose-invert min-w-0 max-w-none',
        lang: '<%= config.language %>', // 
        avatar: 'mm', // 
        meta: ['nick', 'mail'], // 
        pageSize: 10, //
        visitor: true, // 
        commentCount: true, // 
        requiredFields: ['nick', 'mail'], //   
      });
    </script>
    </div>
<% } %>