<p id="date"></p>
<script>
  function updateDate() {
    var now = new Date();
    var dateString = now.toISOString().slice(0, 10);
    document.getElementById('date').textContent = dateString;
  }

  window.addEventListener('load', function() {
    updateDate();
    // 更新频率为每5分钟更新一次，减少不必要的更新
    setInterval(updateDate, 300000);
  });
</script>